DATABASE_URL="postgresql://crm:crm@localhost:5433/crm"
REDIS_URL="redis://localhost:6380"

AUTH_SECRET="***REMOVED***"
AUTH_GOOGLE_ID="1078350506148-39s16s6jjo81riedprs74vdjasj26f4i.apps.googleusercontent.com"
AUTH_GOOGLE_SECRET="***REMOVED***"
